/*
 This file contains all style definitions that are used by efml generated web pages
 */

/**
 ***********************************
 * styles for inference compiler error output
 ***********************************
 */
div.compilererror {
	background-color: #FFBBBB;
	color: #000000;
	font-size: 150%;
}

h3.compilererror {
	font-size: 120%;
}

table.invalidassertions {
	background-color: #CCCCCC;
	color: #CC0000;
	cellspacing: 2px;
}

table.inferredassertions {
	background-color: #CCCCCC;
	color: #0000CC;
	cellspacing: 2px;
}

td.domainid {
	color: #000000;
	float: right;
	font-weight: bold;
}

table.stacktrace {
	border: 3px solid black;
	cellspacing: 2px;
}

td.stacktracefile {
	background-color: #BBBBFF;
	color: #000055;
}

td.stacktraceline {
	background-color: #BBBBBB;
	color: #005555;
}

td.stacktraceline {
	background-color: #FFBBBB;
	color: #000000;
}

/**
 ***********************************
 * styles for airport.js
 ***********************************
 */

/**
 * outer object style
 */
span.airport {
	display: inline-block;
	padding: 2px;
	background-color: #E8E8E8; /* was: colorAround */
	width: 400px;
	height: 400px;
}

/**
 *  main table object
 */
table.airport {
	border-spacing: 0px;
	width: 100%;
}

/**
 * empty airport row
 */
tr.airportEmpty {
	background-color: #CCCCCC; /* was: colorEmpty */
	width: 100%;
}

/**
 * filled airport row
 */
tr.airportNonempty {
	background-color: #CCCCFF; /* was: colorFilled */
	width: 100%;
}

/**
 * good (correct and justified) airport row
 */
tr.airportGood {
	background-color: #CCFFCC; /* was: colorGood */
	width: 100%;
}
/**
 * incorrect airport row
 */
tr.airportBad {
	background-color: #EE6666; /* was: colorBad */
	width: 100%;
}

/**
 * correct yet not fully justified airport row
 */
tr.airportOkay {
	background-color: #FFEE00; /* was: colorOkay */
	width: 100%;
}

/**
 * padding airport gap
 */
tr.airportGap {
	background-color: #CCCCCC; /* was: colorEmpty */
	width: 100%;
	height: 12px;
}

/**
 * airport delete button (left part of each filled line)
 */
td.airportButtonDel {
	width: 20px;
	background-color: #CCCCCC; /* was: colorEmpty */
}

/**
 ***********************************
 * styles for answer.js
 ***********************************
 */

/**
 * surrounding table in form
 */
table.answerHint {
	border-spacing: 0px;
	border-collapse: collapse;
}

/**
 * cell that will contain the hint
 */
td.answerHint {
	height: 20px;
	width: 100%;
}

/**
 ***********************************
 * styles for boxspace.js
 ***********************************
 */

/**
 * default float box style
 */
div.boxspaceFloatBox {
	display: inline-block;
	position: absolute;
	border-style: solid;
	padding: 6px;
	border-color: #000000;
	background-color: #EEEEEE;
	zIndex: 50;
	cursor: default;
	/** disable text selection **/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/**
 * default style for the workspace, i.e. the floating area
 */
div.boxspaceWorkspace {
	display: inline-block;
	background-color: #CCCCCC;
	width: 500px;
	height: 350px;
	/** be the reference for children absolute positions **/
	position: relative;
	overflow: auto;
	/** disable text selection **/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/**
 ***********************************
 * styles for checkbox.js
 ***********************************
 */

/**
  * style for the form tag that contains the checkbox element (bounding box)
  */
form.checkbox {
	display: inline-block;
	background-color: #CCCCFF; /* was colorFilled */
}

/**
  * style change for checkboxes marked as good
  */
form.checkboxMarkedGood {
	background-color: #CCFFCC; /* was colorGood */
}

/**
  * style of the checkbox element that is clickable
  */
input.checkbox {
	display: inline-block;
	background-color: #CCCCFF; /* was colorFilled */
}

/**
 ***********************************
 * styles for dropdown.js
 ***********************************
 */

/**
  * style for the form tag that contains the dropdown element (bounding box)
  */
form.dropdown {
	display: inline-block;
}

/**
  * style of the dropdown without a selection done yet
  */
select.dropdown {
	display: inline-block;
	background-color: #CCCCAA; /* was colorEmpty */
}

/**
  * style change for dropdowns with a selection
  */
select.dropdownNonempty {
	background-color: #CCCCFF; /* was colorFilled */
}

/**
  * style change for dropdowns marked as good
  */
select.dropdownMarkedGood {
	background-color: #CCFFCC; /* was colorGood */
}

/**
 ***********************************
 * styles for freetext.js
 ***********************************
 */

/**
  * style for the form tag that contains the free text element (bounding box)
  */
form.freetext {
	display: inline-block;
}

/**
  * style of the free text without a selection done yet
  */
input.freetext {
	display: inline-block;
	background-color: #CCCCAA; /* was colorEmpty */
}

/**
  * style change for free texts with content
  */
input.freetextNonempty {
	background-color: #CCCCFF; /* was colorFilled */
}

/**
  * style change for free texts marked as good
  */
input.freetextMarkedGood {
	background-color: #CCFFCC; /* was colorGood */
}

/**
 ***********************************
 * styles for multiline.js
 ***********************************
 */

/**
  * style for the form tag that contains the multiline element (bounding box)
  */
form.multiline {
	display: inline-block;
}

/**
  * style of the free text without a selection done yet
  */
textarea.multiline {
	display: inline-block;
	background-color: #CCCCAA; /* was colorEmpty */
}

/**
  * style change for free texts with content
  */
textarea.multilineNonempty {
	background-color: #CCCCFF; /* was colorFilled */
}

/**
  * style change for free texts marked as good
  */
textarea.multilineMarkedGood {
	background-color: #CCFFCC; /* was colorGood */
}

/**
 ***********************************
 * styles for popupbutton.js
 ***********************************
 */

/**
  * style for the form tag that contains the popup button (bounding box)
  */
form.popupbutton {
	display: inline-block;
}

/**
  * style of the button
  */
input.popupbutton {
	display: inline-block;
}

/**
 ***********************************
 * styles for radiobutton.js
 ***********************************
 */

/*
 * style for bounding table (use manually in efml!)
 */
/* manually */
table.radiobutton { /* stick with defaults */
	
}

/**
  * style for the form tag that contains the radio element (bounding box)
  * out-most (this is the default)
  */
/* default */
form.radiobutton {
	display: inline-block;
	background-color: #CCCCAA; /* was colorEmpty */
}

/**
  * style for the form tag that contains the radio element (bounding box)
  * out-most level is <tr> (optional)
  */
/* manually */
tr.radiobutton {
	display: inline-block;
	background-color: #CCCCAA; /* was colorEmpty */
}

/* manually */
td.radiobutton {
	width: 100%;
}

/*
 * mid-level form style
 */
/* manually */
form.radiobuttonNested {
	display: inline-block;
}

/**
  * style for the form tag that contains the radio element (bounding box)
  */
/* default/manually */
span.radiobutton {
	display: inline-block;
}

/* default/manually */
input.radiobutton { /* stick to defaults here */
	
}

/**
  * style change for radios with selection
  */
/* default */
form.radiobuttonNonempty {
	background-color: #CCCCFF; /* was colorFilled */
}

/* manually */
tr.radiobuttonNonempty {
	background-color: #CCCCFF; /* was colorFilled */
}

/**
  * style change for radios marked as good
  */
/* default */
form.radiobuttonMarkedGood {
	background-color: #CCFFCC; /* was colorGood */
}

/* manually */
tr.radiobuttonMarkedGood {
	background-color: #CCFFCC; /* was colorGood */
}

/**
 ***********************************
 * styles for runway.js
 ***********************************
 */

/**
  * style for the form tag that contains the radio element (bounding box)
  * out-most (this is the default)
  */
span.runway {
	display: inline-block;
	width: 200px;
	height: 20px;
	background-color: #CCCCAA; /* was colorEmpty */
}

/**
  * style change for filled run ways
  */
span.runwayNonempty {
	background-color: #CCCCFF; /* was colorFilled */
}

/**
  * style change for good run ways
  */
span.runwayMarkedGood {
	background-color: #CCFFCC; /* was colorGood */
}

/**
 ***********************************
 * styles for sentencepattern.js
 ***********************************
 */

/*
  * style for the surrounding box (that contains the parts which make up 
  * the pattern and the UP button)
  */
span.sentencepatternBox {
	display: inline-block;
	padding: 2px;
	background-color: #DDDDDD; /* was colorBox */
}

/*
 * style for the UP box
 */
span.sentencepattern {
	display: inline-block;
	background-color: #EEEEEE; /* was colorFilled */
	width: 20px;
	height: 20px;
}

/**
 ***********************************
 * styles for trashcan.js
 ***********************************
 */
div.trashcan {
	display: inline-block;
	background-color: #888888; /* was colorGround */
	color: #CC0000; /* was colorBoxes */
	width: 50px;
	height: 50px;
}

/**
 ***********************************
 * styles for inference.js
 ***********************************
 */

/**
  * style for the form tag that contains the popup button (bounding box)
  */
form.inference {
	display: inline-block;
}

/**
  * style of the button
  */
input.inference {
	display: inline-block;
}

/**
  * style used to display listbox elements without the unnecessary 
  * right-hand scrollbar... well its not working as expected...
  */
  
.norightscroll {
	display:inline-block; 
	border:solid grey 0px; 
	overflow:hidden;
	vertical-align: top;
}

.norightscroll select {
	 padding:40px; 
	 margin:-40px -40px -40px -40px; 
}

/**
  * styles for list box selection
  */

table.listselectioncontainer {
	display:inline-block;
	border:solid grey 0px; 
	vertical-align: top;
}
