/*
 This file contains all style definitions that are used by efml generated web pages
 */

/**
 ***********************************
 * styles for airport.js
 ***********************************
 */

/**
 * outer object style
 */
span.airport {
	display: inline-block;
	padding: 2px;
	background-color: #E8E8E8; /* was: colorAround */
	width: 400px;
	height: 400px;
}

/**
 *  main table object
 */
table.airport {
	border-spacing: 0px;
	width: 100%;
}

/**
 * empty airport row
 */
tr.airportEmpty {
	background-color: #CCCCCC; /* was: colorEmpty */
	width: 100%;
}

/**
 * filled airport row
 */
tr.airportNonempty {
	background-color: #CCCCFF; /* was: colorFilled */
	width: 100%;
}

/**
 * good (correct and justified) airport row
 */
tr.airportGood {
	background-color: #CCFFCC; /* was: colorGood */
	width: 100%;
}
/**
 * incorrect airport row
 */
tr.airportBad {
	background-color: #EE6666; /* was: colorBad */
	width: 100%;
}

/**
 * correct yet not fully justified airport row
 */
tr.airportOkay {
	background-color: #FFEE00; /* was: colorOkay */
	width: 100%;
}

/**
 * padding airport gap
 */
tr.airportGap {
	background-color: #CCCCCC; /* was: colorEmpty */
	width: 100%;
	height: 12px;
}

/**
 * airport delete button (left part of each filled line)
 */
td.airportButtonDel {
	width: 20px;
	background-color: #CCCCCC; /* was: colorEmpty */
}

/**
 ***********************************
 * styles for answer.js
 ***********************************
 */

/**
 * surrounding table in form
 */
table.answerHint {
	border-spacing: 0px;
	border-collapse: collapse;
}

/**
 * cell that will contain the hint
 */
td.answerHint {
	height: 20px;
	width: 100%;
}

/**
 ***********************************
 * styles for boxspace.js
 ***********************************
 */

/**
 * default float box style
 */
div.boxspaceFloatBox {
	display: inline-block;
	position: absolute;
	border-style: solid;
	padding: 6px;
	border-color: #000000;
	background-color: #EEEEEE;
	zIndex: 50;
	cursor: default;
	/** disable text selection **/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
}

/**
 * default style for the workspace, i.e. the floating area
 */
div.boxspaceWorkspace {
	display: inline-block;
	background-color: #CCCCCC;
	width: 500px;
	height: 350px;
	/** be the reference for children absolute positions **/	
	position: relative;
	overflow: auto; 
	/** disable text selection **/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/**
 ***********************************
 * styles for checkbox.js
 ***********************************
 */
