/*
 This file contains all style definitions that are used by efml generated web pages
 */

/**
 ***********************************
 * styles for airport.js
 ***********************************
 */

/**
 * outer object style
 */
span.airport {
	display: inline-block;
	padding: 2px;
	background-color: #E8E8E8; /* was: colorAround */
	width: 400px;
	height: 400px;
}

/**
 *  main table object
 */
table.airport {
	border-spacing: 0px;
	width: 100%;
}

/**
 * empty airport row
 */
tr.airportEmpty {
	background-color: #CCCCCC; /* was: colorEmpty */
	width: 100%;
}

/**
 * filled airport row
 */
tr.airportNonempty {
	background-color: #CCCCFF; /* was: colorFilled */
	width: 100%;
}

/**
 * good (correct and justified) airport row
 */
tr.airportGood {
	background-color: #CCFFCC; /* was: colorGood */
	width: 100%;
}
/**
 * incorrect airport row
 */
tr.airportBad {
	background-color: #EE6666; /* was: colorBad */
	width: 100%;
}

/**
 * correct yet not fully justified airport row
 */
tr.airportOkay {
	background-color: #FFEE00; /* was: colorOkay */
	width: 100%;
}

/**
 * padding airport gap
 */
tr.airportGap {
	background-color: #CCCCCC; /* was: colorEmpty */
	width: 100%;
	height: 12px;
}

/**
 * airport delete button (left part of each filled line)
 */
td.airportButtonDel {
	width: 20px;
	background-color: #CCCCCC; /* was: colorEmpty */
}

/**
 ***********************************
 * styles for answer.js
 ***********************************
 */

/**
 * surrounding table in form
 */
table.answerHint {
	border-spacing: 0px;
	border-collapse: collapse;
}

/**
 * cell that will contain the hint
 */
td.answerHint {
	height: 20px;
	width: 100%;
}

/**
 ***********************************
 * styles for boxspace.js
 ***********************************
 */

/**
 * default float box style
 */
div.boxspaceFloatBox {
	display: inline-block;
	position: absolute;
	border-style: solid;
	padding: 6px;
	border-color: #000000;
	background-color: #EEEEEE;
	zIndex: 50;
	cursor: default;
	/** disable text selection **/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/**
 * default style for the workspace, i.e. the floating area
 */
div.boxspaceWorkspace {
	display: inline-block;
	background-color: #CCCCCC;
	width: 500px;
	height: 350px;
	/** be the reference for children absolute positions **/
	position: relative;
	overflow: auto;
	/** disable text selection **/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/**
 ***********************************
 * styles for checkbox.js
 ***********************************
 */

/**
  * style for the form tag that contains the checkbox element (bounding box)
  */
form.checkbox {
	display: inline-block;
	background-color: #CCCCFF; /* was colorFilled */
}

/**
  * style change for checkboxes marked as good
  */
form.checkboxMarkedGood {
	background-color: #CCFFCC; /* was colorGood */
}

/**
  * style of the checkbox element that is clickable
  */
input.checkbox {
	display: inline-block;
	background-color: #CCCCFF; /* was colorFilled */
}

/**
 ***********************************
 * styles for dropdown.js
 ***********************************
 */

/**
  * style for the form tag that contains the dropdown element (bounding box)
  */
form.dropdown {
	display: inline-block;
}

/**
  * style of the dropdown without a selection done yet
  */
select.dropdown {
	display: inline-block;
	background-color: #CCCCAA; /* was colorEmpty */
}

/**
  * style change for dropdowns with a selection
  */
select.dropdownNonempty {
	background-color: #CCCCFF; /* was colorFilled */
}

/**
  * style change for dropdowns marked as good
  */
select.dropdownMarkedGood {
	background-color: #CCFFCC; /* was colorGood */
}

/**
 ***********************************
 * styles for freetext.js
 ***********************************
 */

/**
  * style for the form tag that contains the free text element (bounding box)
  */
form.freetext {
	display: inline-block;
}

/**
  * style of the free text without a selection done yet
  */
input.freetext {
	display: inline-block;
	background-color: #CCCCAA; /* was colorEmpty */
}

/**
  * style change for free texts with content
  */
input.freetextNonempty {
	background-color: #CCCCFF; /* was colorFilled */
}

/**
  * style change for free texts marked as good
  */
input.freetextMarkedGood {
	background-color: #CCFFCC; /* was colorGood */
}

/**
 ***********************************
 * styles for multiline.js
 ***********************************
 */

/**
  * style for the form tag that contains the multiline element (bounding box)
  */
form.multiline {
	display: inline-block;
}

/**
  * style of the free text without a selection done yet
  */
textarea.multiline {
	display: inline-block;
	background-color: #CCCCAA; /* was colorEmpty */
}

/**
  * style change for free texts with content
  */
textarea.multilineNonempty {
	background-color: #CCCCFF; /* was colorFilled */
}

/**
  * style change for free texts marked as good
  */
textarea.multilineMarkedGood {
	background-color: #CCFFCC; /* was colorGood */
}

/**
 ***********************************
 * styles for popupbutton.js
 ***********************************
 */

/**
  * style for the form tag that contains the popup button (bounding box)
  */
form.popupbutton {
	display: inline-block;
}

/**
  * style of the button
  */
input.popupbutton {
	display: inline-block;
}
